# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore distribution/build directories
build/
dist/
*.egg-info/

# Ignore IDE/editor specific files
.idea/
.vscode/
*.swp

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Back-up
*.bak